* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* background-color: aquamarine; */
}

body {
  font-family: "Nunito", sans-serif;
  background-image: url("img/main_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.bg {
  position: fixed;
  top: 0;
  /* right: 0;
  bottom: 0; */
  left: 0;
  height: 100%;
  width: 100%;
  /* background-image: url("img/main_bg.jpg");
  background-attachment: scroll;
  background-position: center;
  background-size: cover; */
}

.container {
  height: 100%;
  position: relative;
  display: block;
  /* background-image: url("img/main_bg.jpg");
  background-attachment: fixed; */
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  /* background-color: purple; */
  color: #fff;
  z-index: 9999;
}

header .logo {
  align-self: center;
  padding-left: 10px;
  color: #333;
  font-size: 1.8rem;
  display: inline-block;
  height: 30px;
  width: auto;
}

header .logo img {
  display: inline-block;
  height: 30px;
  width: auto;
}

header .menu-toggle {
  align-self: center;
  position: relative;
  padding-right: 10px;
  font-size: 2rem;
  color: orange;
}

nav {
  display: none;
}

.main-content {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  display: block;
  height: 100%;
}

/* Landing Section */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  min-height: calc(100% - 50px);
  padding: 1rem;
}

section.welcome-text {
  padding-top: 50px;
  height: 100%;
  text-align: center;
}

section.welcome-text h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 1px;
  padding-bottom: 3rem;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

section.welcome-text .comment {
  align-self: center;
  width: 230px;
}

section.welcome-text .comment p {
  position: relative;
  color: #fff;
  text-align: center;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

section.welcome-text .comment .name {
}

section.welcome-text .comment p.name {
  padding-top: 20px;
  font-style: italic;
  font-size: 0.9rem;
}

section.welcome-text .comment p.name::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 70%;
  top: 10px;
  border-bottom: 2px solid orange;
}

/* Event Section */

section.event-container {
  width: 100%;
  /* padding: 1rem; */
  justify-content: start;
}

section.event-container .event-list {
  /* display: flex;
  flex-direction: column; */
}

section.event-container .event-list .event-item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  height: 250px;
  margin-bottom: 1rem;
  overflow: hidden;
}

section.event-container .event-list .event-item h3 {
  position: absolute;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section.event-container .event-list .event-item img {
  width: 100%;
  height: auto;
}

/* Contact Section */

section.contact-container {
  justify-content: flex-start;
}

section.contact-container .contact-info {
  text-align: center;
}

section.contact-container .contact-info h2 {
  font-size: 1.4rem;
  padding: 2rem 0;
}

section.contact-container form {
}

section.contact-container .contact-field {
  width: 100%;
  padding-bottom: 1rem;
}

section.contact-container .contact-field input,
section.contact-container .contact-field textarea {
  width: 100%;
  line-height: 1.4rem;
  font-size: 1.4rem;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  border: none;
  font-weight: 300;
  color: #222;
}

section.contact-container .contact-field label {
  font-size: 0.9rem;
  color: #333;
  padding-bottom: 5px;
}

section.contact-container .contact-field > * {
  display: block;
}

section.contact-container .contact-field input[type="submit"] {
  background-color: orange;
  color: #fff;
}

.section:first-of-type {
  padding-top: 50px;
  height: 100%;
}
