* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* background-color: aquamarine; */
}

body {
  font-family: "Nunito", sans-serif;
}

.bg {
  position: fixed;
  top: 0;
  /* right: 0;
  bottom: 0; */
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("img/main_bg.jpg");
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.container {
  height: 100%;
  position: relative;
  display: block;
  /* background-image: url("img/main_bg.jpg");
  background-attachment: fixed; */
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: brown;
  color: #fff;
  z-index: 9999;
}

header .logo {
  align-self: center;
  padding-left: 10px;
  color: #333;
  font-size: 1.8rem;
}

header .menu-toggle {
  align-self: center;
  position: relative;
  padding-right: 10px;
  font-size: 2rem;
  color: orange;
}

nav {
  display: none;
}

.main-content {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  display: block;
  height: 100%;
}

/* Landing Section */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  min-height: calc(100% - 50px);
}

section.welcome-text {
  padding-top: 50px;
  height: 100%;
  text-align: center;
}

section.welcome-text h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 1px;
  padding-bottom: 3rem;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

section.welcome-text .comment {
  align-self: center;
  width: 230px;
}

section.welcome-text .comment p {
  position: relative;
  color: #fff;
  text-align: center;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

section.welcome-text .comment .name {
}

section.welcome-text .comment p.name {
  padding-top: 20px;
  font-style: italic;
  font-size: 0.9rem;
}

section.welcome-text .comment p.name::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 70%;
  top: 10px;
  border-bottom: 2px solid orange;
}

/* Event Section */

section.event-container {
  width: 100%;
  padding: 1rem;
  justify-content: start;
}

section.event-container .event-list {
  /* display: flex;
  flex-direction: column; */
}

section.event-container .event-list .event-item {
  display: block;
  background-color: aqua;
  height: 150px;
  margin-bottom: 1rem;
}

.section:first-of-type {
  padding-top: 50px;
  height: 100%;
}
