* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: aquamarine;
}

.container {
  height: 100%;
  position: relative;
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: blueviolet;
  color: #fff;
  z-index: 9999;
}

nav {
  display: none;
}

.main-content {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  display: block;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: calc(100% - 50px);
}

.section p {
}

.section:first-of-type {
  padding-top: 50px;
  height: 100%;
}
